* {
	box-sizing: border-box;
}

body {
	background-color: #FFFFFF;
	color: black;
	font-family: Frutiger LT Std, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	font-weight: 400;
  font-size: 18px;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

footer {
    font-size: 16px;
    font-weight: 200;
    padding-left: 3.2em;
    top: -4em;
    position: relative;
    overflow-x: hidden;
}



/* background colour*/

.aboutback{
  background-color: #ffc4d3;
 /* background-image: url(img/logocircle.svg);
  background-repeat: no-repeat;
  background-size: 1070px;
  background-position: inherit;
  height: 800px;
  max-width: 170%*/

}


.workback {
  background-color: #E9E9E9;
}







 /* nev */
 .menut {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;

 }

 .menut:hover {
  color: #000000;
  cursor: pointer;
  font-weight: 800;
 }

  #menuToggle {
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
 }

 li {
  width: 200px;
  border-top: 1px solid #000000;
  padding-inline-start: 0px;
  text-decoration: none;
 }

  ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  text-decoration: none;
 }

  #menu {
    position: absolute;
    width: 330px;
    height: 900px;
    /* padding: 50px; */
    padding-top: 200px;
    left: 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    /* transform: translate(100vw, 0); */
    /* transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
 }

  #menu li {
    padding: 5px 0 0 54px;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 130%;
 }
 
  #menu li:hover {
  color: #000000;
  cursor: pointer;
  font-weight: 800;
  font-style: bold;
 }








section {
    margin-left: 3em;
    margin-right: 8em;
}

main {
  max-width: 100vw;
  min-height: 100vh;
  margin: auto;
}


.three-col h1 {
  grid-column: 1 / span 2;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 95%;
  position: relative;
  grid-template-columns: 100%;
  color: #000000;
  text-align: left;
  top: 0;
  left: 0em;
  margin: 0;
  padding-top: 5.1em;
  font-size: 73px;
  max-width: 1440px;
 }



.item2 h2 {
    font-weight: 800;
    line-height: 95%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0;
    /* margin: 1.5em 1.5em 0em 1.5em; */
    padding-top: 2.7em;
    padding-bottom: 2.5em;
    /* padding-left: 1.5em; */
    /* padding-right: 1.5em; */
    border-bottom: 0.5px solid #000000;
    font-size: 36px;
}

 .item3 h2 {
    font-weight: 800;
    line-height: 95%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 0.7em;
    padding-bottom: 2em;
    /* border-bottom: 0.5px solid #000000; */
    font-size: 36px;
 }

  h3 {
    font-weight: 800;
    line-height: 140%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 26px;
 }

.item3 h3 {
	font-weight: 800;
    line-height: 140%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 0em;
    border-top: 0.5px solid #000000;
    font-size: 26px;
}

h4 {
    font-weight: 800;
    line-height: 140%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 0em;
    font-size: 26px;
}



img.facebook {
    margin-right: 0.5em;
    width: 18px;
}


img.instagram {
    margin-right: 0.5em;
    padding-bottom: 0.6px;
    width: 36px;
}

img.mail {
    margin-right: 0.5em;
    padding-bottom: 5px;
    width: 40px;
}


p{
    font-weight: 400;
    line-height: 150%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 18px;

}

.item3 {
	position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 1.7em;
    left: 0em;
    margin: 0;
    padding-top: 0em;
    padding-bottom: 7em;
}

.email {
	font-size: 18px;
    font-weight: 200;
    color: #000000;
    text-decoration: none;
    line-height: 200%;
}

 .logo {
	position: absolute;
	width: auto;
	left: 2.7em;
	top: 2.7em;
  z-index: 2;
 }


img.logocircle {
    height: 100%;
    padding-left: 220px;
    position: absolute;
    z-index: 0;
    top: -1em;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  position: relative;
 }






@media (min-width: 1600px){
   .three-col {
    position: relative;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 40px;
    margin: 0 4em;
   }
}



@media (min-width: 1250px){
  .three-col {
    position: relative;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 40px;
    margin: 0 4em;
   }
  .item2 h2 {
    grid-column: 1 / span 2;
    font-weight: 800;
    line-height: 95%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 1.7em;
    padding-bottom: 6.7em;
    border-bottom: 0.5px solid #000000;
    font-size: 36px;
    }
  h3 {
    font-weight: 800;
    line-height: 140%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 0em;
    /* padding-left: 2.1em; */
    /* padding-right: 2.1em; */
    font-size: 26px;
    }


  .item3 h2 {
    font-weight: 800;
    line-height: 95%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0em;
    margin: 0;
    padding-top: 0.7em;
    padding-bottom: 5.45em;
    /* border-bottom: 0.5px solid #000000; */
    font-size: 36px;
 }

  p {
    font-weight: 400;
    line-height: 150%;
    position: relative;
    grid-template-columns: 100%;
    color: #000000;
    text-align: left;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 3em;
    font-size: 18px;
 }
 }


@media (min-width: 600px){
  
  .three-col {
    position: relative;
    grid-template-columns: repeat(100%);
    grid-gap: 40px;
    margin: 0 0em;
   }

  section {
    margin-left: 3em;
    margin-right: 3em;
  }

  .three-col h1 {
  grid-column: 1 / span 2;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 95%;
  position: relative;
  grid-template-columns: 100%;
  color: #000000;
  text-align: left;
  top: 0;
  left: 0em;
  margin: 0;
  padding-top: 4.6em;
  font-size: 80px;
  max-width: 1440px;
 }

}

@media (min-width: 300px){
  
  .three-col {
    position: relative;
    grid-template-columns: repeat(100%);
    grid-gap: 40px;
    margin: 0 0em;
   }
   section {
    margin-left: 3em;
    margin-right: 3em;
}

.direction {
    position: absolute;
    padding: 475px 3em 0 59px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
 }

 .homemain {
  margin-left: 3em;
  margin-right: 3em;
 }
}




















